body {
  margin: 0 auto;
}

button {
  height: 80px;
  width: 200px;
  background-color: #000;
  color: #FFF;
  font-size: 2em;
  padding: .5em;
}

.wrapper {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background-color: #eee;
}

.content {
  height: 100%;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #ccc;
  padding: 2em;
  margin: 0;
}

.GraphBar {
  display: flex;
  flex-direction: column;
  padding: 1em;
  height: 0;
  margin: 2em;
  width: 40px;
  background-color: black;
}

.GraphBarContainer{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  min-height: 800px;
}

h2 {
  color: #000;
  font-family: sans-serif;
}

p {
  color: white;
  font-family: sans-serif;
}
